@import "./reset.css";
/* Global styles */
body {
	margin: 0 auto;
	min-width: 1200px;
	font-family: "Montserrat",  sans-serif;
}

a:active, a:focus {
	outline: none;
}

/*Section Intro*/
.intro {
	padding-top: 366px;
	margin-bottom: 82px;
	background-image: url(../images/background/section1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #22353f;
}

/* Header and Navigation menu  */
.intro-header-container {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

.intro-header {
	margin: 0 auto;
	display: flex;
	width: 1160px;
	height: 120px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	height: 67px;
	align-items: center;
	font-size: 24px;
	text-decoration: none;
	color: #ffffff;
	background-image: url(../images/icon/logo.png);
	background-repeat: no-repeat;
}

.logo-letter {
	padding-left: 14px;
	font-size: 40px;
	font-weight: bold;
}

.logo-text {
	margin-left: 24px;
}

.logo-text-color {
	font-weight: bold;
	color: #18cfab;
}

.nav-list {
	display: flex;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-list-item {
	padding-right: 21px;
}

.nav-link {
	padding-bottom: 55px;
	text-decoration: none;
	color: #b8b8b8;
}

.nav-link:hover, .nav-link:active {
	color: #18cfab;
	border-bottom: 2px solid #18cfab;
}

.intro-title {
	padding-bottom: 45px;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
}

.title-color {
	color: #18cfab;
}

.intro-slogan {
	padding-bottom: 36px;
	font-size: 69px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #ffffff;
}

.intro-slogan-bottom {
	padding-bottom: 142px;
	font-size: 29px;
	font-weight: lighter;
	letter-spacing: 2px;
	color: #d4d4d4;
}

.intro-button {
	margin-right: 28px;
	width: 166px;
	height: 61px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	border-top: 4px solid #ffffff;
	border-radius: 4px;
}

.intro-button.explore {
	background-color: #18cfab;
}

.intro-button.purchase {
	background-color: #00cbf6;
}

/* Section Intro Bottom menu Options*/
.intro-bottom-menu {
	margin-top: 244px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.bottom-menu-list {
	display: flex;
	height: 374px;
}

.bottom-menu-img-dark {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 48px;
}

.bottom-menu-img-blue {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 59px;
	display: block;
}

.bottom-menu-item-dark {
	padding-top: 95px;
	width: 25%;
	background-color: #1c2a33;
	border-top: 7px solid #18cfab;
}

.bottom-menu-item-blue {
	padding-top: 106px;
	width: 25%;
	background-color: #18cfab;
	border-top: 7px solid #ffffff;
}

.bottom-menu-link-dark {
	text-decoration: none;
	color: #18cfab;
}

.bottom-menu-link-blue {
	text-decoration: none;
	color: #ffffff;
}

/*All sections style*/
.section {
	text-align: center;
}

.section-title {
	margin-bottom: 30px;
	font-size: 36px;
	color: #4e4e4e;
	text-align: center;
}

.decoration-line {
	margin: 0 auto;
	padding-bottom: 70px;
	width: 160px;
	height: 8px;
}

.line {
	margin: 0 auto;
	width: 76px;
	height: 1px;
	background-color: #18cfab;
	border: none;
}

.line.one {
	margin-left: 30px;
	margin-bottom: 3px;
}

.line.two {
	margin-left: 45px;
}

.section-button {
	width: 165px;
	height: 61px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #18cfab;
	border: none;
	border-top: 4px solid #ffffff;
	border-radius: 4px;
}

.btn-img {
	margin-right: 16px;
}

/*Section Our Services*/
.services-banner {
	padding-top: 128px;
	padding-bottom: 127px;
	background-image: url(../images/background/section2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #323030;
	background-blend-mode: multiply;
}

.services-slogan {
	margin-bottom: 35px;
	font-size: 39px;
	font-weight: bold;
	text-transform: uppercase;
	color: #18cfab;
}

.services-slogan-bottom {
	margin-bottom: 76px;
	font-size: 16px;
	color: #d8d8d8;
}

/*Tabs in section Our Services*/
.services-tabs {
	margin: 0 auto;
	width: 1160px;
	height: 337px;
}

/* Tabs - list */
.services-tabs-list {
	margin: 0;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	align-items: center;
}

.services-tabs-item {
	margin-bottom: 25px;
	padding-top: 28px;
	padding-bottom: 29px;
	width: 193px;
	font-size: 16px;
	color: #838484;
	text-align: center;
	background-color: #f8fcfe;
	border: 1px solid #eeeeef;
	cursor: pointer;
}

/* Active tab */
.services-tabs-item.active {
	position: relative;
	color: #ffffff;
	background-color: #18cfab;
	border: none;
}

.services-tabs-item.active::after {
	content: '';
	position: absolute;
	left: calc(50% - 10px);
	bottom: -20px;
	border: 10px solid transparent;
	border-top: 10px solid #18cfab;
}

/* Tabs content  */
.services-tabs-content {
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	line-height: 2;
	color: #838484;
	text-align: justify;
	list-style: none;
}

/* Tab content hidden */
.services-tabs-content-item {
	display: none;
}

/* Tab content active */
.services-tabs-content-item.active {
	display: flex;
	justify-content: space-between;
}

.services-tabs-img {
	margin-top: 7px;
	margin-right: 20px;
	width: 194px;
	height: 139px;
}

/*Section Our Amazing Work*/
.section.work {
	padding-top: 71px;
	padding-bottom: 100px;
	background-color: #f8fcfe;
	align-items: center;
}

.work-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.work-menu-list {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	align-items: center;
	background-color: #ffffff;
}

.work-menu-item {
	padding: 24px 29px 20px 29px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #838484;
	text-align: center;
	border: 1px solid #eeeeef;
	cursor: pointer;
}

.work-menu-item:hover {
	color: #18cfab;
	border-top: 2px solid #18cfab;
	cursor: pointer;
}

.active-work {
	color: #18cfab;
	border-top: 2px solid #18cfab;
}

.work-gallery-container {
	margin: 0 auto;
	padding-top: 71px;
	padding-bottom: 71px;
	display: flex;
	width: 1160px;
	justify-content: stretch;
	flex-wrap: wrap;
}

.work-gallery-item {
	position: relative;
}

.work-image {
	width: 290px;
}

.work-gallery-item-hover {
	position: absolute;
	top: 0;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #f8fcfe;
	border-top: 3px solid #18cfab;
	transition: all .8s;
	opacity: 0;
}

.work-gallery-item:hover .work-gallery-item-hover {
	opacity: 1;
}

.button-work-container {
	padding-bottom: 34px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.button-work {
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	justify-content: center;
	flex-direction: row;
}

.button-work.white {
	margin-right: 5px;
	background-color: #f8fcfe;
	border: 1px solid #18cfab;
}

.button-work.blue {
	background-color: #18cfab;
	border: none;
}

.work-gallery-title-hover {
	padding-bottom: 14px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #18cfab;
}

.work-gallery-title-item-hover {
	font-size: 18px;
	color: #838484;
}

.img-hidden {
	display: none;
}

/*Section Breaking News*/
.news {
	padding-top: 84px;
	padding-bottom: 88px;
}

.news-post-container {
	margin: 0 auto;
	display: flex;
	width: 1160px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.news-post {
	position: relative;
	margin-bottom: 45px;
	height: 280px;
	text-align: left;
	text-decoration: none;
	background-color: #f8fcfe;
}

.news-link {
	text-decoration: none;
	color: #717171;
}

.news-calendar {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	width: 68px;
	height: 66px;
	justify-content: center;
	color: #ffffff;
	text-align: center;
	background-color: #203e38;
}

.news-date {
	padding-top: 5px;
}

.news-title {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 16px;
	font-size: 18px;
	font-weight: bold;
}

.news-details {
	padding-left: 16px;
	font-size: 14px;
}

.news-post:hover .news-calendar {
	background-color: #18cfab;
}

.news-post:hover .news-title {
	color: #18cfab;
}

/* Section Reviews*/
.reviews-banner {
	padding-top: 98px;
	height: 851px;
	background-image: url(../images/background/section3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #22353f;
}

.section-title.reviews {
	color: #ffffff;
}

.img-quotes {
	padding-bottom: 44px;
}

.reviews-text {
	padding-bottom: 20px;
	font-size: 16px;
	color: #bbbbbb;
}

/* Section Gallery of best images*/
.gallery-images {
	padding-top: 97px;
	padding-bottom: 81px;
	background-color: #f8fcfe;
}

/* Footer */
.footer {
	text-align: center;
	background-color: #22353f;
}

.copyright {
	padding-top: 47px;
	padding-bottom: 47px;
	font-size: 14px;
	color: #636d73;
}

.copyright-color {
	color: #18cfab;
}
